/* 清除通用样式 */
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}

/* 顶部logo无限旋转 */
.logo{
    width: 100px;
    height: 100px;
    /* border: 1px solid teal; */
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
.logo ul{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    animation: move1 10s linear infinite;
}
.logo li{
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: 0px 0px 15px 5px white;
}
.logo li:nth-child(1){
    background: url(../img/logo.png) no-repeat center/cover;
    transform: translateY(50px) rotateX(90deg);
}
.logo li:nth-child(2){
    background: url(../img/logo.png) no-repeat center/cover;
    transform: translateY(-50px) rotateX(90deg);
}
.logo li:nth-child(3){
    background: url(../img/logo.png) no-repeat center/cover;
    transform: translateX(50px) rotateY(90deg);
}
.logo li:nth-child(4){
    background: url(../img/logo.png) no-repeat center/cover;
    transform: translateX(-50px) rotateY(-90deg);
}
.logo li:nth-child(5){
    background: url(../img/logo.png) no-repeat center/cover;
    transform: translateZ(50px);
}
.logo li:nth-child(6){
    background: url(../img/logo.png) no-repeat center/cover;
    transform: translateZ(-50px);
}
.logo li:nth-child(7){
    background: url(../img/logo1.png) no-repeat center/cover;
    box-shadow: none;
}

/* 3D盒子样式 */
.wrap{
    width: 1200px;
    height: 200px;
    /* border: 2px solid red; */
    position: absolute;
    left: 0;
    right: 0;
    bottom: 150px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.box1,.box2{
    width: 200px;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(-30deg) rotateY(30deg);
    animation: move2 10s linear infinite;
}
/* 鼠标悬停盒子样式 */
.box1:hover,.box2:hover{
    animation-play-state: paused;
}
.box1:hover>li:nth-child(2){
    transform: translateY(-200px) translateZ(100px) rotateX(1deg);
}
.box1:hover>li:nth-child(7){
    transform: translateY(-100px);
}
.box2:hover>li:nth-child(1){
    transform: translateY(200px) rotateX(90deg);
}
.box2:hover li:nth-child(2){
    transform: translateY(-200px) rotateX(90deg);
}
.box2:hover li:nth-child(3){
    transform: translateX(200px) rotateY(90deg);
}
.box2:hover li:nth-child(4){
    transform: translateX(-200px) rotateY(-90deg);
}
.box2:hover li:nth-child(5){
    transform: translateZ(200px);
}
.box2:hover li:nth-child(6){
    transform: translateZ(-200px);
}
/* 设置盒子样式 */
.box1>li,.box2>li{
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: 0px 0px 15px 5px white;
    /* opacity: .5; */
}
.box2>li{
    transition: transform 1s;
}
/* box1和box3样式 */
.box1>li:nth-child(1){
    background: url(../img/1.jpg) no-repeat center/cover;
    transform: translateY(100px) rotateX(90deg);
}
.box1>li:nth-child(2){
    background: url(../img/1.jpg) no-repeat center/cover;
    transform: translateY(-200px) translateZ(100px) rotateX(90deg);
    transition: transform 2s;
    transform-origin: bottom center;
    /* transform: translateZ(-100px) translateY(-200px) rotateX(90deg); */
}
.box1>li:nth-child(3){
    background: url(../img/1.jpg) no-repeat center/cover;
    transform: translateX(100px) rotateY(90deg);
}
.box1>li:nth-child(4){
    background: url(../img/1.jpg) no-repeat center/cover;
    transform: translateX(-100px) rotateY(-90deg);
}
.box1>li:nth-child(5){
    background: url(../img/1.jpg) no-repeat center/cover;
    transform: translateZ(100px);
}
.box1>li:nth-child(6){
    background: url(../img/1.jpg) no-repeat center/cover;
    transform: translateZ(-100px);
}
.box1>li:nth-child(7),.box2>li:nth-child(7){
    transition: transform 2s;
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.box1>li:nth-child(8),.box2>li:nth-child(8){
    box-shadow: none;
    transform: translateY(-250px);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.box2>li:nth-child(7){
    animation: love 1s ease-in-out infinite alternate;
}
.box1>li:nth-child(7)::before,.box2>li:nth-child(7)::before{
    content: '';
    display: block;
    width: 100px;
    height: 150px;
    background-color: red;
    border-radius: 50px 50px 0 0;
    transform-origin: bottom left;
    transform: translateX(100px) rotate(315deg);
}
.box1>li:nth-child(7)::after,.box2>li:nth-child(7)::after{
    content: '';
    display: block;
    width: 100px;
    height: 150px;
    background-color: red;
    border-radius: 50px 50px 0 0;
    transform-origin: bottom right;
    transform: translateX(-100px) rotate(45deg);
}
/* box2样式 */
.box2>li:nth-child(1){
    background: url(../img/2.jpg) no-repeat center/cover;
    transform: translateY(100px) rotateX(90deg);
}
.box2>li:nth-child(2){
    background: url(../img/2.jpg) no-repeat center/cover;
    transform: translateY(-100px) rotateX(90deg);
}
.box2>li:nth-child(3){
    background: url(../img/2.jpg) no-repeat center/cover;
    transform: translateX(100px) rotateY(90deg);
}
.box2>li:nth-child(4){
    background: url(../img/2.jpg) no-repeat center/cover;
    transform: translateX(-100px) rotateY(-90deg);
}
.box2>li:nth-child(5){
    background: url(../img/2.jpg) no-repeat center/cover;
    transform: translateZ(100px);
}
.box2>li:nth-child(6){
    background: url(../img/2.jpg) no-repeat center/cover;
    transform: translateZ(-100px);
}
/* 动画帧 */
@keyframes move1{
    100%{
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}
@keyframes move2{
    0%{
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(-30deg) rotateY(360deg);
    }
}
@keyframes love{
    0%{
        transform: scale(.5);
    }
    100%{
        transform: scale(1);
    }
}
/* 背景视频 */
video{
    width: 100%;
    position: fixed;
    z-index: -1;
}